@font-face {
  font-family: 'Parkant';
  src: url('fonts/parkant.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'Parkant', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 52px;
  text-align: center;
  flex: auto;
}

.contents {
  flex: auto;
}

p {
  font-size: 20px;
}
